* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 400;
    color: #000000;
    min-width: 360px;
}

.container {
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

.intro-conteiner {
    display: flex;
}

.header {
    background-color: #ffffff;
    padding-top: 29px;
    padding-bottom: 24px;
    border: 1px solid #CCCCCC;
}

.link {
    text-decoration: none;
    color: #000000;
}

.link:hover {
    background: #ff9c7d;
}

.nav-link {
    font-size: 15px;
    line-height: 20px;
}

.nav-list {
    display: flex;
}

.inner {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 42px;
}

.nav-item:last-child {
    margin-right: 0;
}

.logo {
    margin-right: 51px;
}

.header-button-group {
    margin-left: auto;
    display: flex;
}

.button {
    text-decoration: none;
    border: none;
    font-family: 'Graphik LCG', sans-serif;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    vertical-align: top;
}

.header-button.first {
    background-color: #ffffff;
    color: #000000;
    line-height: 45px;
    border: 1px solid #808080;
    padding: 0 35px 0 35px;
    margin-right: 10px;
}

.header-button.second {
    background-color: #FF6336;
    color:#FFFFFF;
    line-height: 45px;
    border: 1px solid #FF6336;
    padding: 0 21px 0 22px;
}

.header-button.second:hover {
    color: #000000;
    background-color: #ffffff;
    transition-duration: 2s;
    border: 1px solid #808080;
}

.header-button.first:hover {
    background-color: #FF6336;
    color: #ffffff;    
    transition-duration: 2s;
    border: 1px solid #FF6336;
}

.intro-button.third:hover {
    color: #000000;
    background-color: #ffffff;
    transition-duration: 2s;
    border: 1px solid #808080;
}

.intro-button.fourth:hover {
    background-color: #FF6336;
    color: #ffffff;    
    transition-duration: 2s;
    border: 1px solid #FF6336;
}

.intro {
    padding: 104px 0 130px 0;
}

.intro-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    width: 552px;
    margin-bottom: 51px;
}

.intro-text {
    font-size: 25px;
    line-height: 35px;
    width: 471px;
    margin-bottom: 51px;
}

.intro-button.third {
    background-color: #FF6336;
    color:#FFFFFF;
    line-height: 60px;
    border: 1px solid #FF6336;
    padding: 0 41px 0 42px;
    margin-right: 10px;
}

.intro-button.fourth {
    background-color: #ffffff;
    color: #000000;
    line-height: 60px;
    border: 1px solid #808080;
    padding: 0 29px 0 29px;
}

.intro-button-group {
    display: flex;
    margin-bottom: 25px;
}

.intro-text-note {
    font-size: 15px;
    line-height: 25px;
}

.partners {
    background-color: #ff9c7d;
    padding: 98px 0 111px 0;
}

.partners-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    width: 720px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.partners-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desc {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 150px;
}

.desc-title {
    font-weight: 600px;
    font-size: 50px;
    line-height: 60px;
    width: 493px;
    margin-bottom: 30px;
}

.desc-text {
    width: 491px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 35px;
}

.desc-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}

.desc-block:last-child {
    margin-bottom: 0;
}

.desc-block-wrap {
    margin-top: auto;
    margin-bottom: auto;
}

.desc-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.desc-text-link.link,
.localise-card-text-link {
    text-decoration: underline;
}

.localise {
    background-color: #fff8e4;
    padding-top: 120px;
    padding-bottom: 93px;
}

.localise-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 58px;
}

.localise-cards {
    display: flex;
    flex-wrap: wrap;
}

.localise-card {
    flex-basis: 330px;
    margin-right: 110px;
    margin-bottom: 57px;
    text-align: center;
}

.localise-card:nth-child(3n) {
    margin-right: 0;
}

.localise-card-image {
    margin-bottom: 26px;
}

.localise-card-title {
    margin-bottom: 20px;
}

.localise-card-text {
    font-size: 18px;
    line-height: 25px;
}

.localise-card-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
}

.optimization {
    background-color: #ffffff;
    padding-top: 154px;
    padding-bottom: 189px;
}

.optimization-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 25px;
}

.optimization-cards {
    display: flex;
    flex-wrap: wrap;
}

.optimization-card {
    flex-basis: 430px;
}

.optimization-card-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 34px;
}

.optimization-card-text {
    font-size: 20px;
    line-height: 30px;
    width: 409px;
    margin-bottom: 25px;
}

.optimization-card-link,
.optimization-card-text-link {
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline;
}

.optimization-card-image.first {
    margin-top: 50px;
    margin-bottom: 49px;
}

.optimization-card-image.second {
    margin-top: 67px;
    margin-bottom: 67px;
}

.optimization-card-image.third {
    margin-top: 59px;
    margin-bottom: 58px;
}

.quote {
    background-color: #cde8f2;
    padding-top: 59px;
    padding-bottom: 105px;
}

.quote-text {
    font-size: 30px;
    line-height: 40px;
    width: 895px;
    margin-bottom: 23px;
}

.quote-signature {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 7px;
}

.quote-wrapper {
    display: flex;
}

.quote-image {
    margin-left: auto;
}

.additionally {
    background-color: #dabc98;
    padding-top: 76px;
    padding-bottom: 76px;
}

.additionally-wrap {
    display: flex;
}

.additionally-inner,
.additionally-inner-second {
    display: flex;
}

.additionally-inner {
    align-items: center;
}

.additionally-inner-text {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    width: 461px;
    margin-top: 47px;
    margin-bottom: 31px;
    margin-right: 125px;
}

.additionally-inner-img {
    margin-right: 67px;
}

.additionally-card-img {
    margin-bottom: 20px;
}

.additionally-card-stars-img {
    margin-bottom: 14px;
}

.additionally-inner-second {
    padding-top: 30px;
    padding-bottom: 22px;
    padding-left: 71px;
    border-left: 1px solid #000;
}

.other {
    background-color: #ffffff;
    padding-top: 169px;
    padding-bottom: 155px;
}

.other-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    width: 791px;
    margin-left: auto;
    margin-right: auto;
}

.other-text {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 18px;
    width: 539px;
    margin-left: auto;
    margin-right: auto;
}

.other-button,
.other-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.other-button:hover {
    transform: rotate(-10deg);
    background-color: #e74113;
}

.other-image {
    margin-bottom: 39px;
}

.other-button {
    background-color: #FF6336;
    color:#FFFFFF;
    line-height: 60px;
    padding: 0 25px 0 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
}

.else {
    background-color: #ff9c7d;
    padding-top: 124px;
    padding-bottom: 156px;
}

.else-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 29px;
    text-align: center;
    width: 784px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
}

.else-text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 54px;
}

.else-button {
    background-color: #000000;
    color:#FFFFFF;
    line-height: 60px;
    padding: 0 40px 0 40px;
    margin-right: 10px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.else-button:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.footer {
    background-color: #eeeeee;
    padding-bottom: 48px;
    padding-top: 92px;
}

.footer-main-card-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 28px;
}

.footer-main-card-img {
    display: block;
    margin-bottom: 31px;
}

.footer-main-card-icon {
    display: block;
    margin-bottom: 11px;
}

.footer-main-card-text {
    font-size: 20px;
    line-height: 30px;
    width: 290px;
    margin-bottom: 15px;
}

.footer-main-card-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.footer-wrap {
    display: flex;
    padding-bottom: 94px;
    border-bottom: 1px solid #000000;
    margin-bottom: 48px;
}

.footer-main-card {
    flex-basis: 370px;
    margin-right: 70px;
}

.footer-cards {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.footer-card {
    flex-basis: 187px;
    margin-right: 34px;
}

.footer-card:last-child {
    margin-right: 0;
}

.footer-card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 21px;
}

.footer-card-link {
    display: block;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
}

.copyright {
    display: flex;
}

.copyright-text {
    font-size: 12px;
    line-height: 15px;
}

.copyright-text.first {
    width: 301px;
}

.copyright-logo {
    margin-right: 14px;
}

.copyright-wrapper {
    display: flex;
    align-items: flex-start;
}

.copyright-text-wrap {
    margin-left: auto;
    margin-right: 76px;
}

@media (max-width: 1290px) {
    .container {
        width: auto;
        max-width: 1290px;
        padding: 0 10px;
    }

    .inner {
        flex-wrap: wrap;
    }

    .header-button-group {
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        margin: 7px auto;
    }

    .nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item {
        margin-right: 25px;
    }

    .intro-img {
        display: none;
    }

    .intro {
        padding: 52px 0 65px 0;
        background-image: url(images/intro-background.svg);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 50%;
    }

    .intro-title,
    .partners-title,
    .desc-title {
        font-size: 46px;
        line-height: 65px;
        width: 480px;
    }

    .desc-title {
        text-align: center;
    }

    .partners-title {
        width: auto;
        max-width: 700px;
    }

    .intro-text,
    .desc-text {
        font-size: 20px;
        line-height: 30px;
        width: 400px;
    }

    .desc-text {
        width: auto;
        max-width: 500px;
    }

    .intro-conteiner {
        flex-wrap: wrap;
    }

    .partners-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .partners {
        padding: 78px 0 91px 0;
    }

    .desc-block {
        flex-wrap: wrap;
        margin-bottom: 60px;
        justify-content: space-evenly;
    }
    
    .desc-block-img {
        width: 350px;
        height: 350px;
    }

    .desc-block-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .localise-title,
    .optimization-title {
        width: auto;
        min-width: 350px;
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 30px;
    }

    .localise-card {
        margin-right: 0;
    }

    .localise-cards {
        justify-content: center;
    }

    .localise-card-text {
       max-width: 320px;
    }

    .localise {
        padding-top: 60px;
        padding-bottom: 46px;
    }

    .optimization {
        padding-top: 77px;
        padding-bottom: 94px;
    }

    .optimization-cards {
        justify-content: center;
    }

    .optimization-card {
        padding-left: 5px;
        padding-right: 5px;
    }

    .optimization-card-image,
    .optimization-card-link {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .optimization-card-title,
    .optimization-card-text,
    .optimization-card-link {
        text-align: center;
        width: auto;
        min-width: 350px;
    }
    
    .quote-wrapper {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .quote-image {
        margin-right: auto;
        margin-bottom: 20px;
    }

    .quote-text {
        font-size: 23px;
        line-height: 34px;
        width: auto;
        min-width: 350px;
    }

    .additionally-inner, 
    .additionally-inner-second,
    .additionally-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }

    .additionally-inner-text {
        font-size: 30px;
        line-height: 45px;
        width: auto;
        max-width: 700px;
        text-align: center;
        margin-right: 0;
    }
    
    .additionally-inner-img {
        margin-right: 0;
    }

    .additionally-inner-second {
        flex-direction: column;
        align-content: space-between;
        padding-left: 35px;
    }

    .additionally-card-one,
    .additionally-card-two {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
    }

    .additionally-card-one {
        margin-bottom: 20px;
    }

    .other-title,
    .else-title {
        font-size: 48px;
        line-height: 65px;
        width: auto;
        max-width: 790px;
        margin-bottom: 20px;
    }

    .other {
        padding-top: 85px;
        padding-bottom: 82px;
    }

    .other-image {
        display: block;
        width: auto;
        max-width: 600px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .other-text {
        width: auto;
        max-width: 539px;
        font-size: 22px;
        line-height: 33px;
    }

    .else {
        padding-top: 62px;
        padding-bottom: 76px;
    }

    .footer-wrap {
        flex-wrap: wrap;
    }

    .footer-card {
        margin-right: 0;
    }

    .footer-main-card {
        margin-bottom: 20px;
    }

    .copyright-text.first {
        width: auto;
        max-width: 290px;
        margin-right: 10px;
    }
    
    .copyright-text-wrap {
        margin-right: 0;
    }

    .copyright-text {
        font-size: 10px;
        line-height: 15px;
    }
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 12px;
        line-height: 18px;
    }

    .additionally-card-one {
        margin-bottom: 10px;
    }

    .header-button.first {
        font-size: 12px;
        line-height: 30px;
        padding: 0 25px 0 25px;
    }

    .header-button.second {
        font-size: 12px;
        line-height: 30px;
        padding: 0 11px 0 12px;
    }

    .intro {
        background-image: none;
    }

    .intro-title,
    .partners-title,
    .desc-title {
        width: 320px;
        font-size: 35px;
        line-height: 53px;
        text-align: center;
        margin-bottom: 30px;
    }

    .intro-text,
    .desc-text {
        width: 340px;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 30px;
    }

    .desc-text {
        text-align: center;
    }

    .intro-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .intro-img {
        display: block;
        width: 350px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .intro-text-note {
        font-size: 10px;
        line-height: 15px;
    }

    .intro-button.third {
        font-size: 12px;
        line-height: 30px;
        padding: 0 25px 0 25px;
    }

    .intro-button.fourth {
        font-size: 12px;
        line-height: 30px;
        padding: 0 11px 0 12px;
    }

    .desc {
        padding-top: 50px;
        padding-bottom: 75px;
    }

    .desc-block-wrap {
        align-items: center;
    }

    .optimization-card-text {
        font-size: 18px;
        line-height: 28px;
    }

    .quote-text,
    .else-text {
        font-size: 15px;
        line-height: 22px;
    }

    .quote {
        padding-bottom: 55px;
    }

    .other-title,
    .else-title {
        font-size: 40px;
        line-height: 60px;
    }

    .other-image {
        max-width: 350px;
    }
    
    .footer-wrap {
        margin-bottom: 24px;
        padding-bottom: 46px;
    }

    .footer {
        padding-bottom: 24px;
        padding-top: 46px;
    }
}